		<div class="span3">
		  <div class="well sidebar-nav">
			<ul class="nav nav-list">
				  <li class="nav-header">Enregistrements</li>
					  <li><a href="#">Nouveau déposant</a></li>
					  <li><a href="#">Modifier la fiche d'un déposant (profil, article...)</a></li>
			  <li class="nav-header">Vente</li>
				  <li><a href="#">Vendre un article</a></li>
			  <li class="nav-header">Caisse et Comptabilité</li>
				  <li><a href="#">Bilan Caisse</a></li>
				  <li><a href="#">Editer fiches déposants</a></li>
				  <li><a href="#">Statistiques</a></li>
			</ul>
		  </div><!--/.well -->
		</div><!--/span-->